@import "../../styles/colorPallete.css";
@import "../../styles/vars.scss";
@import "../../styles/mixins";


.citySelect {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.citySelect_arrow {
    background: url(/public/arrow-select.svg) no-repeat;
    background-size: contain;
    background-position: center 60%;
    width: 16px;
    height: 20px;
    margin-left: 3px;
    display: inline-block;
    vertical-align: middle;
}

.citySelect_list {
    width: 233px;
    height: 152px;
    box-sizing: border-box;
    padding: 0 26px;
    box-shadow: $boxShadowBlack;
    background-color: var(--white);
    position: absolute;
    top: 0;
    left: -11px;
    z-index: 110;
}


.citySelect_transition-enter {
    opacity: 0.01;
}

.citySelect_transition-enter.citySelect_transition-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.citySelect_transition-leave {
    opacity: 1;
}

.citySelect_transition-leave.citySelect_transition-leave-active {
    opacity: 0.01;
    transition: opacity 150ms ease-in;
}

.citySelect_item {
    @include item-separator;
    height: 72px;
    line-height: 72px;
    font-family: RobotoSlab;
    font-size: 34px;
    font-weight: 300;
    color: #333333;
    color: var(--black);
    cursor: pointer;
}

.citySelect_item.-current {
    color: var(--magenta);
}

.citySelect_title {
    position: relative;
    display: inline-block;
}
